# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite Databases
*.db
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Project specifics (Data & Cache)
uploads/
audio_cache/
vector_stores/
